absl-py==2.2.0
chex==0.1.89
etils==1.5.2
flax==0.8.5
fsspec==2025.3.0
humanize==4.12.1
importlib_metadata==8.6.1
importlib_resources==6.5.2
jax==0.4.30
jaxlib==0.4.30
markdown-it-py==3.0.0
mctx==0.0.5
mdurl==0.1.2
ml_dtypes==0.5.1
msgpack==1.1.0
nest-asyncio==1.6.0
numpy==2.0.2
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.6.4
protobuf==6.30.1
Pygments==2.19.1
PyYAML==6.0.2
rich==13.9.4
scipy==1.13.1
tensorstore==0.1.69
toolz==1.0.0
typing_extensions==4.12.2
zipp==3.21.0
